@{
    ViewBag.Title = "ShopManagement";
}
<h2>About the Shop Management Program</h2>
<p>Hello, and welcome to my Shop Management Program.</p>
<p>
    This program, when finished, will help shop owners manage their day to day needs. These needs will
    include adding or subtracting customers from a database. Of course, you will also need to be able
    to add or remove vehicles from each customer, which will include an area for detailed comments
    concerning the work done to each. Also, you will be able to add or subtract employees and assign
    them roles within the system, depending on what areas of the program they may need to access.
</p>
<p>
    When logged in, each employee will be able to access the list of appointments needing to be completed
    that day. The customer scheduled to be worked on next, according to the time, will be at the top.
    This will be the only one accessible unless it is removed by the shop owner, or supervisor, due
    to being late to arrive, or canceled by the customer. Once each job is completed, the employee
    working on it will be able to complete the job with the press of a button and will be given the
    option to add any additional comments if needed.
</p>


