@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shop Management System</h1>

    <p>This system is designed to make it easier for you to manage your technicians, appointments and most importantly, your customers.</p>
</div>


